AIAgentforUpworkScraping.json
{
  "name": "Automated Job Hunter: Upwork Opportunity Aggregator & AI-Powered Notifier",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "834d0a42-1398-4cd4-aaf3-b1164e00b4a8",
      "name": "Daily Upwork Job Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1888,
        592
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/datasets/ONKVhsaMqcTXdOVZl/items?token=apify_api_FDM5gF7lnh9n7fMEdA7b8yWF3Dir6I3g0ZNt",
        "options": {}
      },
      "id": "a0d54dfe-fc68-4020-b2ed-d191a57d5897",
      "name": "Fetch Upwork Jobs (Apify)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2080,
        384
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24bd782a-a34f-4b98-8d8f-21763181677b",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "ee879b3d-339a-44c2-9e11-f653edab2e7f",
              "name": "url",
              "type": "string",
              "value": "={{ $json.url }}"
            },
            {
              "id": "b5ff7975-667b-4997-ac8f-acbe9a3b3b85",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description }}"
            },
            {
              "id": "29051fc3-e4f8-4e39-a024-d7b943271acc",
              "name": "budget",
              "type": "string",
              "value": "={{ $json.budget }}"
            },
            {
              "id": "a6492128-a58a-4735-b427-12265f81da3a",
              "name": "Experience Level",
              "type": "string",
              "value": "={{ $json.experienceLevel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a9812fc7-0fa5-492a-91aa-392d0c8ee43b",
      "name": "Format Job Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2272,
        384
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-UYnfjwBDAkXyVVmub0I5EHIv6gqQetkLhnFCFLpsGs",
          "mode": "list",
          "cachedResultName": "Upwork Scraper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-UYnfjwBDAkXyVVmub0I5EHIv6gqQetkLhnFCFLpsGs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-UYnfjwBDAkXyVVmub0I5EHIv6gqQetkLhnFCFLpsGs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "URL": "={{ $json.url }}",
            "Description": "={{ $json.description }}",
            "Budget": "={{ $json.budget }}",
            "Experience Level": "={{ $json['Experience Level'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience Level",
              "displayName": "Experience Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a996aa35-8f0d-4e1a-997b-4aadd402f65c",
      "name": "Log Jobs to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2624,
        384
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "plIXAS9wZyXbemgI",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that formats Upwork job postings into a professional email summary.  \nAlways output in email format with a clear subject line, greeting, a structured list of jobs, and a short closing.  \nKeep the tone professional but friendly.\n\nThe input will be JSON with fields like Title, URL, Description, Budget, Experience Level, Posted At, Skills, Category, Country.  \nUse only the fields provided.\n\nFormat each job as follows:\n\n📌 Title: [Title]  \n🔗 URL: [URL]  \n📝 Description: [Description]  \n💲 Budget: [Budget]  \n⭐ Experience Level: [Experience Level]  \n📅 Posted At: [Posted At]  \n\nIf multiple jobs are provided, list them one after another, separated by lines.  \n\nEnd with a short encouraging note (e.g., “Good luck with your applications!”).\n\n---\nHere is the data:\nTitle: {{ $json.Title }}\nURL: {{ $json.URL }}\nDescription: {{ $json.Description }}\nBudget: {{ $json.Budget }}\nExperience Level: {{ $json['Experience Level'] }}\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "e0cd68e5-4d6d-479a-8a48-1faccc9f3ff7",
      "name": "Summarize Job Listings",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2832,
        384
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "sendTo": "dinarajobacc@gmail.com",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.Summary }}",
        "options": {}
      },
      "id": "30002e32-6046-4e5c-a27f-a0d58f380ae9",
      "name": "Send Job Summary Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3408,
        384
      ],
      "webhookId": "6937d724-5ede-4c56-83fd-fde84496eabd",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "GpVxM2gVsadsDo1Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "a1fb5d66-b780-4b6b-96be-3391b6196301",
      "name": "OpenAI Job Summarizer",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2816,
        624
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "MUG6kqFzAkIVIOkg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"Upwork Job Opportunity: Webflow Expert Needed for Portfolio Website\",\n  \"Summary\": \"The client is seeking a designer with strong experience in Webflow to create a responsive and elegant portfolio site.\"\n}\n"
      },
      "id": "f79a7336-80fc-4832-862b-51d0d737d5a3",
      "name": "Parse Summary Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3040,
        640
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# Fetch & Prepare Upwork Jobs`\n",
        "height": 600,
        "width": 640,
        "color": 5
      },
      "id": "85465ead-0a06-455c-9308-866c092d8ef5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Log & Summarize Jobs`\n\n\n\n",
        "height": 608,
        "width": 668,
        "color": 6
      },
      "id": "3699ba73-75ee-4bf2-91eb-8d0d05143321",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2544,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Notify via Email",
        "height": 600,
        "width": 340
      },
      "id": "2289feb5-9ab1-4dbb-a77e-f4742f0f341d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3296,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Instructions\n\n## This guide will walk you through the steps to fully configure your automation workflow using OpenAI, Apify, and other APIs.\n\n\n## Step 1: Set up Apify\n\n1. Go to Apify.com and create an account.\n2. Find an Upwork Scraper Actor\n3. Configure the Actor\n4. Get your Apify API key from your account settings, as you'll need it for n8n.\n\n## Step 2: Create a Copy of the Google Sheets File\n\n1. Make a copy of the Google Sheets file associated with this workflow to store your data - https://docs.google.com/spreadsheets/d/1czA3tQxTDLgd_5JBwX0l4kHiWieyXSkdYaN5O-SczEM/edit?usp=drive_link\n\n## Step 3: Set Up Google Sheets Credential\n\n1. In the Google Sheets node, create a new credential using your Google account.\n\n## Step 4: Set Up OpenAI Credential\n\n1. Navigate to the API keys section on https://platform.openai.com/.\n2. Click \"Create new secret key\" and copy the key immediately.\n3. Paste it into the OpenAI Chat Model node's credentials.\n\n## Step 5: Set up Gmail Credentials\n\n1. In the Gmail node, create a new credential using your Google account.\n\n## Step 6: Customize The System For Your Use Case\n\n- **Niche Focus:** Add keyword filters (e.g., “AI,” “marketing,” “graphic design”) to only receive jobs relevant to your expertise.  \n- **Multi-Platform Expansion:** Integrate scraping actors for LinkedIn Jobs, Fiverr, or Freelancer.com to broaden your search.  \n- **Custom Alerts:** Send urgent opportunities via Slack, Telegram, or WhatsApp instead of just email.  \n- **Team Collaboration:** Share the Google Sheet with a team to divide and track job applications collaboratively.  \n- **Job Matching Intelligence:** Use AI to rank opportunities by relevance (e.g., budget fit, skills match).  \n- **Frequency Control:** Adjust triggers from daily to hourly for real-time job updates.  \n- **Portfolio Integration:** Automatically attach your CV or portfolio link in the email digest for faster application.  \n\n### Now you're ready to run your workflow on a schedule or as needed!",
        "height": 2032,
        "width": 752,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        240
      ],
      "typeVersion": 1,
      "id": "00cf4638-71cc-4deb-8d5d-1bb088e290b1",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## How it works?\nThis template is structured in four stages:\n\n1. **Job Discovery**  \n   - A scheduled trigger initiates daily job scans.  \n   - Apify scrapes Upwork listings.  \n   - Intelligent filtering ensures only relevant and recent postings are processed.  \n\n2. **Data Extraction**  \n   - Extracts comprehensive job metadata.  \n   - Retrieves key job details.  \n   - Prepares structured data for consistency.  \n\n3. **AI Summarization**  \n   - OpenAI processes each job listing.  \n   - Generates professional, human-readable summaries.  \n   - Creates contextual job insights.  \n\n4. **Multi-Platform Distribution**  \n   - Logs structured job data to Google Sheets.  \n   - Gmail integration sends daily email digests.  \n   - Provides freelancers with instant opportunity updates.  ",
        "height": 664,
        "width": 320,
        "color": 4
      },
      "id": "f15a7c6c-54e1-4209-95a1-ab95a9d695b9",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n## Tokens Required\n- Apify\n- OpenAI\n- Google Sheets  \n- Gmail\n\n## Scalability\n- Can expand to multiple job platforms beyond Upwork.  \n- Supports AI-driven job recommendation and custom alerts.  \n- Potential to integrate LinkedIn, Fiverr, or other marketplaces.  \n- Flexible design allows continuous feature upgrades (e.g., category expansion, smarter filtering).  ",
        "height": 376,
        "width": 320,
        "color": 4
      },
      "id": "452108f6-93cd-40e8-b7e1-b6e0e61814ae",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        1456
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## What does it do?\n**Objective**: To build an automated job hunter that scrapes Upwork for freelance opportunities, summarizes them using AI, and delivers personalized job digests via email.\n\n### Why important?\n- **Automates Job Discovery:** Eliminates the need for manual job searching by continuously scanning Upwork for new listings.  \n- **Saves Time:** Summarized job digests provide quick, actionable insights without reading long job descriptions.  \n- **Smart Filtering:** Ensures only relevant and recent opportunities reach you.  \n- **Streamlined Tracking:** Centralizes job opportunities in Google Sheets for record-keeping and analysis.  \n- **Instant Notifications:** Sends personalized job digests straight to your inbox for rapid assessment.  \n\n",
        "height": 536,
        "width": 320,
        "color": 4
      },
      "id": "98591f6a-728f-48c2-bbed-00b16d211130",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Contact us\nHave questions, found a bug, or have ideas to improve this workflow?\nWe're here to help and always open to feedback!\n\n💡 Suggest an improvement — Got a cool idea to make this workflow better? Let us know!\n\n🐞 Found a bug? — Tell us what went wrong so we can fix it fast.\n\n🛠️ Need help? — Whether you're stuck or unsure how to use a part of the workflow, just reach out.\n\n📩 Contact: charlie@jobescape.me\n\nWe typically respond within 72 hours on business days.\n\n",
        "height": 452,
        "width": 320
      },
      "id": "235e75d5-3102-4d7e-b4b3-930f1073e5bb",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        1840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1872,
        384
      ],
      "id": "a6ab3c65-a7bf-40d9-aa58-c551f972c0f8",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {
    "Daily Upwork Job Trigger": [
      {
        "json": {
          "timestamp": "2025-09-02T20:49:24.916+06:00",
          "Readable date": "September 2nd 2025, 8:49:24 pm",
          "Readable time": "8:49:24 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "September",
          "Day of month": "02",
          "Hour": "20",
          "Minute": "49",
          "Second": "24",
          "Timezone": "Asia/Almaty (UTC+06:00)"
        }
      }
    ]
  },
  "connections": {
    "Format Job Fields": {
      "main": [
        [
          {
            "node": "Log Jobs to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summary Output": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize Job Listings",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Job Summarizer": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Job Listings",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Job Listings": {
      "main": [
        [
          {
            "node": "Send Job Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Upwork Job Trigger": {
      "main": [
        [
          {
            "node": "Fetch Upwork Jobs (Apify)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Jobs to Google Sheet": {
      "main": [
        [
          {
            "node": "Summarize Job Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Upwork Jobs (Apify)": {
      "main": [
        [
          {
            "node": "Format Job Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch Upwork Jobs (Apify)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "62892fb7-5f9e-4e6b-b2fb-6ff14e3f5ed5",
  "meta": {
    "templateId": "4733",
    "instanceId": "f5cc7890609ba3c0d7994036448ac5c6c41c49e708f1745181af5a44f04e149a"
  },
  "id": "0PEGC9tolBFkseUt",
  "tags": []
}
