LinkedINAutoPostingSystem.json
{
  "name": "Linked IN Auto Posting System",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate materials for my next LinkedIn post.\n\nHere are the ideas that we've already used: {{ $json.mergedText }}.\n\nCome up with a new, super valuable and concrete post, and prepare all the needed materials for it:\n- idea\n- title\n- text\n- image description\n\nUse the least used bucket of content (out of my 4 buckets).\n\nBegin:",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ROLE: You're an expert in viral LinkedIn posts content creation with 10 years of experience. You've created viral posts that have gotten 10 billion views in total.\n\nOBJECTIVE: Your goal is to write a 1) name, 2) idea, 3) title, 4) text, and 5) image description for my next LinkedIn Post. They should be super valuable to my audience.\n\nSCENARIO: I run a LinkedIn blog about marketing and sales. My audience is marketers, salespeople, founders, B2B business owners, B2C business owners, brands. My goal is to help them build better brands with valuable, and practical content. \nI have 4 main buckets of content on my page:\n1) timeless principles. ideas for this videos are taken from timeless books: Influnece and Pre-Suasion by Robert Cialdini, $100M Leads and $100M Offers by Alex Hormozi, Ogilvy on Advertising.\n2) case studies. for instance a case study breaking down on of the famous ads from the latest SuperBowl.\n3) growth hacks. latest trends on how to grow with a proof. for instance an SEO tactic that became known in the last year.\n4) contraversial ads. breakdowns of interesting and famous contraversial ads.\nEvery video that I post is focused solely on one of the content buckets. That makes my content more diverse and covering more cool topics.\n\nEXPECTATION: Write me 1) name (short name for the post, less than 50 characters), 2) idea (detailed description in 3 sentences max), 3) title (the first sentence of the post, less than 80 characters, it should be ultra hooking), 4) full text of the post, 5) image description (the image is the first thing people will look at, so make it ultra hooking; write the image description to be super clear and ultra simple, so the AI image generator will precisely know that to generate; the image should be minimalistic) for a 200-300 words LinkedIn post from one of the content buckets described above.\nMake sure to have great: hook, retention, and reward at the end.\nThe post should clearly lead to a marketing/sales insight.\nYour output should be in the JSON format.\nIdea should always start with a category: Timeless principle, Case study, Growth hack, Contraversial ad.\nExample output:\n{\"name\": \"The Power of Social Proof\",\n\"idea\": \"Timeless principle: Social proof is a psychological phenomenon that influences decision-making by showing how others' actions affect our own choices. It works universally across physical spaces and digital platforms. Marketers who strategically implement social proof elements can significantly increase conversion rates and customer trust.\",\n\"title\": \"Why we can't resist looking up when others do (and what it means for sales)\",\n\"text\": \"Why we can't resist looking up when others do (and what it means for sales)\\n\\nA psychology experiment once placed actors on a street corner to stare upward at nothing.\\n\\nWithin minutes, dozens of passersby stopped to look up too.\\n\\nThis is social proof in action—our natural tendency to follow others when uncertain.\\n\\nIn marketing, this same principle powers your conversion rates.\\n\\nNotice how differently you perceive:\\n\\n• A product with 5,000+ five-star reviews\\n• A service used by \\\"67% of Fortune 500 companies\\\"\\n• A landing page showing \\\"10,000+ satisfied customers\\\"\\n\\nCompared to identical offerings without these trust signals.\\n\\nBut here's what many marketers miss: social proof must feel authentic to work.\\n\\nGeneric testimonials or inflated numbers create skepticism, not confidence.\\n\\nThe most effective social proof strategies I've implemented for clients:\\n\\n1. Specificity: \\\"503 marketing agencies use our platform daily\\\" beats \\\"Hundreds of satisfied customers\\\"\\n\\n2. Relevance: Highlight testimonials from users who match your prospect's profile\\n\\n3. Recency: Fresh testimonials outperform older ones by 35% in our tests\\n\\n4. Visibility: Place social proof elements near decision points (like \\\"Buy Now\\\" buttons)\\n\\nImplement these four tactics, and you'll see the same psychological force that makes us look up at the sky work to increase your conversion rates.\\n\\nWhat's your most effective social proof strategy? Share below.\",\n\"image\": \"Simple black background with grainy texture. Six basic stick figure silhouettes in white - five figures on the left all looking up, one figure on the right just starting to look up. Bold text in Inter Bold font at the center reads \\\"FOLLOW THE CROWD\\\" with \\\"FOLLOW\\\" in white and \\\"CROWD\\\" in light green (#cff150). No other elements or details. Clean, minimal design with plenty of empty space.\"}\nNOTES:\n- THE BACKGROUND OF THE IMAGE SHOULD ALWAYS BE BLACK AND DARK GRAINY FILM\nTo accomplish your task you can use the web search."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1360,
        112
      ],
      "id": "6cc34977-cf96-4785-b088-9e385c41e642",
      "name": "Idea Generator",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "# Generate a New Post Idea and All Materials",
        "height": 480,
        "width": 980,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        0
      ],
      "typeVersion": 1,
      "id": "8af66410-a231-4dfc-9cb5-7217a592be45",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Generate an Image and Save",
        "height": 480,
        "width": 1140,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        0
      ],
      "typeVersion": 1,
      "id": "23ecfedf-d9ed-442e-a7d8-388c12b54a0f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"name\": \"name\",\n    \"idea\": \"idea\",\n    \"title\": \"title\",\n    \"text\": \"text\",\n    \"image\": \"image\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1552,
        320
      ],
      "id": "e5670507-043f-4bee-a875-5eeb16d73b81",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-7-sonnet-20250219",
          "mode": "list",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1360,
        320
      ],
      "id": "158b2184-99c0-4884-b4eb-972d19aecd69",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "pIBvdtcaXiqljQhF",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2224,
        192
      ],
      "id": "f8967d5b-e795-4ecb-b8ff-a71e6ae406bf",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        832,
        112
      ],
      "id": "42db872b-daf8-487b-901f-d8516c72a9be",
      "name": "Schedule"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Extract the text field from each item\nconst texts = items.map(item => item.json.idea);\n\n// Concatenate them (adjust the separator as needed)\nconst concatenated = texts.join(\", \");\n\n// Return a single item with the concatenated text\nreturn [{ json: { mergedText: concatenated } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        112
      ],
      "id": "b2414a9e-ddd4-401f-a148-ae80856a0480",
      "name": "Join Ideas"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1200,
        608
      ],
      "id": "67bffbfb-5c1d-41dd-881a-976ea722c87d",
      "name": "Pick One"
    },
    {
      "parameters": {
        "content": "# Auto Posting",
        "height": 348,
        "width": 1340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        512
      ],
      "typeVersion": 1,
      "id": "84e2b7b6-4ac7-4627-8728-c5d17365769b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Instructions\n\nThis guide will walk you through the 7 steps to fully configure your automation workflow using Google Sheets, Google Drive, Anthropic, OpenAI, Perplexity AI and LinkedIn.\n\n---\n\n## Step 1: Set Up Google Sheets Credential\n1. In the n8n Google Sheets node create a new credential using your Google account\n\n---\n\n## Step 2: Set Up Google Drive Credential\n1. Go to the [Google Cloud Console](https://console.cloud.google.com) and create or select a project\n2. Enable the Google Drive API under APIs & Services > Library\n3. Still in APIs & Services, select Credentials from the left menu\n4. Click + CREATE CREDENTIALS > OAuth client ID\n5. For Application type, choose Web application\n6. Under Authorized redirect URIs, paste the OAuth Redirect URL: https://oauth.n8n.cloud/oauth2/callback\n7. Click Create, then copy the Client ID and Client Secret shown in the modal\n8. In the n8n Google Drive node click Create Credential\n9. Paste in the Client ID and Client Secret from Google Cloud\n10. Click Sign in with Google, complete the OAuth consent flow, then Save your credential\n\n---\n\n## Step 3: Set Up Anthropic Credential\n1. Navigate to the [Anthropic Console](https://console.anthropic.com/) and sign in or sign up\n2. Generate an API key\n3. In the n8n \"Anthropic Chat Model\" node click Create Credential, past the API key and save\n\n---\n\n## Step 4: Configure OpenAI via HTTP Request Node\n1. Visit the [OpenAI API Keys](https://platform.openai.com/account/api-keys) page and create a new secret key\n2. In the n8n OpenAI Image node in the Authentication select Generic Credential Type\n3. In Generic Auth Type select Header Auth\n4. Create a new Header Auth, Name = Authorization, Value = Bearer YOUR_TOKEN\n\n---\n\n## Step 5: Set Up LinkedIn Credential\n1. In the n8n LinkedIn node create a new credential using your LinkedIn account\n\n---\n\n## Step 7: Customize The System For Your Use Case\n1. In the Idea Generator node adjust the prompts to reflect your content style and your topics\n2. Create a folder in your Google Drive where you will store all the images\n3. Put in that folder the image with the style of your brand, that you want to replicate every time\n4. Paste the shared link to this image in the \"Image Style\" node\n5. In the OpenAI Image node adjust the prompt to reflect your image style\n6. Copy my [Google Sheet](https://docs.google.com/spreadsheets/d/1-F3ZioIs3oWOKMyDPMuquaH-qiuaZs6qdZXP-yNeRbs/edit?usp=sharing)\n7. Select your Google Sheet in the Google Sheets nodes\n8. Activate the system, now every day a new post will be created inside the Google Sheet, and once you've reviewed it (might edit it as well), set the status to \"ready\" and it will be posted; the posting mechanism is set to work every day, one post at a time\n\n---\n\nNow you're ready to run your workflow. \n",
        "height": 1720,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "befdd813-651b-490e-8155-2a9e663cf34c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            },
            {
              "name": "prompt",
              "value": "=You're a professional graphic designer.\n\nMake a new image in the style very very similar to the reference.\n\nCopy the style, spacing, minimalistic structure, especially copy the FONTS, and everything else.\n\nUse black and dark grainy film (mainly for the background), white and salad green (#cff150).\n\nMake the image super aestetic and minimalistic.\n\nMake it vertical 3x4.\n\nIt will be an image for a LinkedIn post.\n\nHere is the description of the new image:\n{{ $('Idea Generator').item.json.output.image }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        192
      ],
      "id": "4c07b89c-e08a-4f0d-b2cc-01e7fff5cc4e",
      "name": "OpenAI Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "o6WR2QrfnXqOikoC",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=https://drive.google.com/file/d/1wm4anhC6ygXl4ZJAjJryWfEXTG-VeH8s/view?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1808,
        192
      ],
      "id": "2a3f81a1-573c-41b0-9178-9f84be81d599",
      "name": "Image Style",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2VT8pyMJxd8t8fas",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-F3ZioIs3oWOKMyDPMuquaH-qiuaZs6qdZXP-yNeRbs",
          "mode": "list",
          "cachedResultName": "AI Posts Content Machine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-F3ZioIs3oWOKMyDPMuquaH-qiuaZs6qdZXP-yNeRbs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-F3ZioIs3oWOKMyDPMuquaH-qiuaZs6qdZXP-yNeRbs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1008,
        112
      ],
      "id": "8456b886-663d-4de4-8a97-352a5b0e947d",
      "name": "Get Past Ideas",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uOlBAT1Wz4wMh2k8",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Idea Generator').item.json.output.name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1SppspKB-f66o3vA14H_R7jbW120yEOl3",
          "mode": "list",
          "cachedResultName": "n8n - LinkedIN",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SppspKB-f66o3vA14H_R7jbW120yEOl3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2448,
        192
      ],
      "id": "cb301e1d-b797-4e48-b74e-cbd254ab1597",
      "name": "Save Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2VT8pyMJxd8t8fas",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1g_885whokngAGdmQSUHZMxy3I4UJZTnvtDeJgXw_G8I",
          "mode": "list",
          "cachedResultName": "AI Posts Content Machine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g_885whokngAGdmQSUHZMxy3I4UJZTnvtDeJgXw_G8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g_885whokngAGdmQSUHZMxy3I4UJZTnvtDeJgXw_G8I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Idea Generator').item.json.output.name }}",
            "idea": "={{ $('Idea Generator').item.json.output.idea }}",
            "text": "={{ $('Idea Generator').item.json.output.text }}",
            "image": "={{ $json.webViewLink.replace(/usp=[^&]+/, 'usp=sharing') }}",
            "status": "review"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2640,
        192
      ],
      "id": "d6d1a3bf-c3f2-47e7-8a86-b00d1660aa3e",
      "name": "Save Post",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kQTErhepkD6dikp0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        832,
        608
      ],
      "id": "525b71d2-9771-4237-8250-332c69f746d0",
      "name": "Schedule 2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1g_885whokngAGdmQSUHZMxy3I4UJZTnvtDeJgXw_G8I",
          "mode": "list",
          "cachedResultName": "AI Posts Content Machine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g_885whokngAGdmQSUHZMxy3I4UJZTnvtDeJgXw_G8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g_885whokngAGdmQSUHZMxy3I4UJZTnvtDeJgXw_G8I/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "ready"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1008,
        608
      ],
      "id": "1d227874-7dc9-4a22-9928-ecab2d945ccc",
      "name": "Get Ready Posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kQTErhepkD6dikp0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.image }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1392,
        608
      ],
      "id": "53ec20d5-f8d0-4ba0-b77b-33d98f80774d",
      "name": "Download Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2VT8pyMJxd8t8fas",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "108580232",
        "text": "={{ $json.text }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1584,
        608
      ],
      "id": "ce3fca4c-58f1-458b-b5dc-1c3fe56ae6a5",
      "name": "Publish Post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "fGWhUUanj4rJaVEc",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1g_885whokngAGdmQSUHZMxy3I4UJZTnvtDeJgXw_G8I",
          "mode": "list",
          "cachedResultName": "AI Posts Content Machine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g_885whokngAGdmQSUHZMxy3I4UJZTnvtDeJgXw_G8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g_885whokngAGdmQSUHZMxy3I4UJZTnvtDeJgXw_G8I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Pick One').item.json.name }}",
            "status": "posted"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1792,
        608
      ],
      "id": "d4c3dd27-aebe-4225-8042-4ec689488fd7",
      "name": "Update Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kQTErhepkD6dikp0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        848,
        272
      ],
      "id": "16e266b4-b72d-4c1c-90d1-07e2581cf169",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "Replace API",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        352
      ],
      "typeVersion": 1,
      "id": "b2a13193-b43f-4ddb-8500-633a8dbfadd8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Replace API",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        352
      ],
      "typeVersion": 1,
      "id": "e4099858-d01a-47ba-bcd3-c0483b47735e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## How it works?\n1. Scrapes past content ideas from Google Sheets.\n2. Detects underused content categories (e.g. case studies, growth hacks).\n3. Uses Claude 3.7 to generate a new idea, post text, and image description.\n4. Crafts a custom prompt and sends it to OpenAI’s image model to generate a matching visual.\n5. Stores everything (idea, text, image) in Google Sheets.\n6. Once marked as \"ready\", it downloads the image and auto-publishes to LinkedIn via API.\n",
        "height": 344,
        "width": 320,
        "color": 4
      },
      "id": "cffa9c18-966d-4a81-adf1-2eb3f1a38a3c",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## What does it do?\nObjective: Automatically generate LinkedIn posts with engaging content and visuals based on least-used content buckets. Each post includes a powerful hook, image, and text — all written by AI, scheduled, and optionally published.\n\n### Why important?\n- Stop staring at a blank screen — AI brainstorms for you.\n- Ensure content variety using intelligent bucket rotation.\n- Save time and maintain high-quality, daily posting cadence.\n\nWhether you're a solopreneur, content team, or agency — this system builds a consistent LinkedIn presence while you sleep.\n",
        "height": 504,
        "width": 320,
        "color": 4
      },
      "id": "18490b1c-b45c-41ff-b0d4-413cd07faca6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Contact us\nHave questions, found a bug, or have ideas to improve this workflow?\nWe're here to help and always open to feedback!\n\n💡 Suggest an improvement — Got a cool idea to make this workflow better? Let us know!\n\n🐞 Found a bug? — Tell us what went wrong so we can fix it fast.\n\n🛠️ Need help? — Whether you're stuck or unsure how to use a part of the workflow, just reach out.\n\n📩 Contact: charlie@jobescape.me\n\nWe typically respond within 72 hours on business days.\n\n",
        "height": 452,
        "width": 320
      },
      "id": "c587574b-c5f7-4650-b7b0-583839813af0",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n## Tokens Required\n- Claude (Anthropic)\n- OpenAI (image generation)\n- Google Sheets + Drive\n- LinkedIn \n- Facebook/Instagram (optional)\n\n## Scalability\n- Easily expand for Twitter, Instagram, or Threads.\n- Add more content buckets or modify posting rules (e.g. twice daily).\n- Swap LinkedIn for other platforms by changing publishing nodes.",
        "height": 360,
        "width": 320,
        "color": 4
      },
      "id": "6d1c3c71-11d9-4639-84cd-d71e67ecbfd9",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Replace API",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        272
      ],
      "typeVersion": 1,
      "id": "bd49365c-d0c4-43bd-b13e-c701b7ed441e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Replace API",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        -720
      ],
      "typeVersion": 1,
      "id": "5b3571d7-25ab-415b-b2eb-3fd06390d723",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Replace API",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        352
      ],
      "typeVersion": 1,
      "id": "e36ef774-5ce7-43ef-bc76-a92f7a619a0a",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        816,
        960
      ],
      "id": "8e13f9b0-04a3-4926-980c-aaf25d0f2369",
      "name": "X",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a4260ba-3bde-4444-8f42-8a8abd51ff0c",
              "name": "ImageURL",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "1953ae03-6a86-4847-8686-5a928637be1d",
              "name": "Caption",
              "type": "string",
              "value": "={{ $('3c. Generate Post Caption (Gemini)').item.json.output.Caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d4e52a1-0b04-4500-9300-f1be64956012",
      "name": "Prepare Data for Instagram API",
      "type": "n8n-nodes-base.set",
      "position": [
        816,
        1168
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841473009917118",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.Caption }}"
              },
              {
                "name": "image_url",
                "value": "={{ $json.ImageURL }}"
              }
            ]
          }
        }
      },
      "id": "3defbd6c-82f4-41af-84a5-4c3e9b69a37b",
      "name": "Create Instagram Media Container",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        1008,
        1168
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {},
      "id": "db17dced-8e13-41bc-9693-c2248c8a9676",
      "name": "Wait for Container Processing",
      "type": "n8n-nodes-base.wait",
      "position": [
        1200,
        1168
      ],
      "webhookId": "1b14c8bf-151a-4054-8215-093dd5b6cbcc",
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841473009917118",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "9725eb87-eb2c-4ec3-8181-2349da32c810",
      "name": "Publish Post to Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        1376,
        1168
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Twitter & Instagram",
        "height": 500,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        896
      ],
      "typeVersion": 1,
      "id": "b52a93ee-a59f-4df6-8655-415043f858c8",
      "name": "Sticky Note14"
    }
  ],
  "pinData": {},
  "connections": {
    "Idea Generator": {
      "main": [
        [
          {
            "node": "Image Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "Get Past Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Ideas": {
      "main": [
        [
          {
            "node": "Idea Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Save Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick One": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Image": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Style": {
      "main": [
        [
          {
            "node": "OpenAI Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Past Ideas": {
      "main": [
        [
          {
            "node": "Join Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image": {
      "main": [
        [
          {
            "node": "Save Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 2": {
      "main": [
        [
          {
            "node": "Get Ready Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ready Posts": {
      "main": [
        [
          {
            "node": "Pick One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Publish Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Post": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Past Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for Instagram API": {
      "main": [
        [
          {
            "node": "Create Instagram Media Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Media Container": {
      "main": [
        [
          {
            "node": "Wait for Container Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Container Processing": {
      "main": [
        [
          {
            "node": "Publish Post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3534af69-5ca6-4fd3-8997-5247e5e3be34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5cc7890609ba3c0d7994036448ac5c6c41c49e708f1745181af5a44f04e149a"
  },
  "id": "Fqnbb2iLH39i71Gq",
  "tags": [
    {
      "createdAt": "2025-07-21T13:10:32.185Z",
      "updatedAt": "2025-07-21T13:10:32.185Z",
      "id": "rfzBDNv0vYtLbW0z",
      "name": "Jobescape"
    }
  ]
}
